.Login {
    background-color: #eeecdb;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center
}

.card {
    height: 35em;
    width: 30em;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 16.66%);
    grid-template-areas: "logo""titulo""subtitulo""email""password""button";
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-logo {
    grid-area: logo;
    align-items: flex-start;
    object-fit: contain;
}

.titulo {
    font-weight: bold;
    letter-spacing: -1.2px;
    align-items: flex-end;
    color: #383743;
    grid-area: titulo;
    text-align: center;
}

.titulo p {
    width: 10em;
    font-size: 1.7em;
}

.subtitulo {
    grid-area: subtitulo;
    text-align: center;
    line-height: 1.48;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
    color: #383743;
}

.subtitulo p {
    width: 20em;
    font-size: 1.2em;
}

.logo-home {
    width: 16rem;
    object-fit: contain;
}

#component-error-text{
    color: #ff0f44;
}

#email {
    grid-area: email;
}

#password {
    grid-area: password;
}

.button {
    grid-area: button;
}

.medium-pink {
    color: #ee4c77;
}

.icon {
    font-size: 22px !important;
    margin-bottom: 5px;
}

.charcoal-grey {
    color: #383743;
}

#btn-entrar {
    background-color: #57bbbc;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 3.9px;
    height: 3em;
    width: 70%;
}
