.card-enterprise {
    border-radius: 4.7px;
    background-color: #fff;
    height: 150px;
    width: 450px;
    padding: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.card-desc {
    width: calc(60% - 20px);
    height: 100%;
    text-align: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.card-img {
    width: 40%;
    height: 100%;
}

.photo-card{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.country-card{
    font-size: 12px;
    color: #8d8c8c;
}

.name-card {
    color: #1a0e49;
    font-weight: bold;
    font-size: 16px;
}

.desc-card {
    font-size: 14px;
    color: #8d8c8c;
}

.block{
    width: 100%;
    display: block;
    float: left;
}